
body {
    background-color: #373837;
    color: white;
}

ul {
    display: inline-block;
    text-align: left;
}

.header {
    display: block;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.header-text {
    font-size: 5vmin;
}
.sub-header-text {
    font-size: 3vmin;
    color: #1b80b3;
    margin-top: 0;
}

.box {
    outline: #1b80b3;
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 5px;
}

.experience {
    display: block;
    margin: 0 auto;
    width: 50%;
    overflow: hidden;
    color: lightgray;
    text-align: center;
    margin-top: 5vmin;
}

.experience-header {
    font-size: 2vmin;
    color: white;
    margin: 0 auto;
}

.skills {
    display: flex;
}